<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cate_name</key>
		<string>手机数码</string>
		<key>cate_id</key>
		<string>10000</string>
		<key>pro_type</key>
		<array>
			<dict>
				<key>type_name</key>
				<string>手机</string>
				<key>type_id</key>
				<string>11000</string>
				<key>brand</key>
				<array>
					<dict>
						<key>brand_name</key>
						<string>苹果</string>
						<key>brand_id</key>
						<string>11100</string>
					</dict>
					<dict>
						<key>brand_name</key>
						<string>三星</string>
						<key>brand_id</key>
						<string>11200</string>
					</dict>
					<dict>
						<key>brand_name</key>
						<string>索尼</string>
						<key>brand_id</key>
						<string>11300</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>brand</key>
				<array>
					<dict>
						<key>brand_name</key>
						<string>佳能</string>
						<key>brand_id</key>
						<string>12100</string>
					</dict>
					<dict>
						<key>brand_name</key>
						<string>尼康</string>
						<key>brand_id</key>
						<string>12200</string>
					</dict>
					<dict>
						<key>brand_name</key>
						<string>宾得</string>
						<key>brand_id</key>
						<string>12300</string>
					</dict>
				</array>
				<key>type_name</key>
				<string>摄影摄像</string>
				<key>type_id</key>
				<string>12000</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>cate_name</key>
		<string>电脑</string>
		<key>cate_id</key>
		<string>20000</string>
		<key>pro_type</key>
		<array>
			<dict>
				<key>type_name</key>
				<string>笔记本</string>
				<key>type_id</key>
				<string>21000</string>
				<key>brand</key>
				<array>
					<dict>
						<key>brand_name</key>
						<string>联想</string>
						<key>brand_id</key>
						<string>21100</string>
					</dict>
					<dict>
						<key>brand_name</key>
						<string>华硕</string>
						<key>brand_id</key>
						<string>21200</string>
					</dict>
					<dict>
						<key>brand_name</key>
						<string>宏碁</string>
						<key>brand_id</key>
						<string>21300</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>brand</key>
				<array>
					<dict>
						<key>brand_name</key>
						<string>微软</string>
						<key>brand_id</key>
						<string>22100</string>
					</dict>
					<dict>
						<key>brand_name</key>
						<string>昂达</string>
						<key>brand_id</key>
						<string>22200</string>
					</dict>
					<dict>
						<key>brand_name</key>
						<string>台电</string>
						<key>brand_id</key>
						<string>22300</string>
					</dict>
				</array>
				<key>type_name</key>
				<string>平板电脑</string>
				<key>type_id</key>
				<string>22000</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
